
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root),
[data-theme="dark"]::view-transition-new(root) {
  z-index: 1;
}

::view-transition-new(root),
[data-theme="dark"]::view-transition-old(root) {
  z-index: 9999;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: var(--transition-duration);
  width: 100vw;
  height: 100vh;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000000;
    --text-color: #ffffff;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #ffffff;
    --text-color: #000000;
  }
} */
